USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[acc_master]    Script Date: 15/07/2019 12:08:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
