USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[msd.BranchTypeDetails]    Script Date: 26/07/2019 10:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msd.BranchTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeDetail] [varchar](200) NULL
) ON [PRIMARY]
GO
