USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26/07/2019 10:08:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id_No] [numeric](18, 0) NOT NULL,
	[Prod_Code] [varchar](25) NOT NULL,
	[Prod_Name] [varchar](100) NOT NULL,
	[Barcode] [varchar](50) NOT NULL,
	[StyleNo] [varchar](50) NULL,
	[Department_Id] [varchar](50) NOT NULL,
	[Dept_Id] [numeric](18, 0) NULL,
	[Category_Id] [varchar](50) NOT NULL,
	[SubCat_Code] [varchar](50) NULL,
	[Supplier_Id] [varchar](50) NOT NULL,
	[Manufacturer_Id] [varchar](50) NOT NULL,
	[Purchase_price] [money] NOT NULL,
	[Selling_Price] [money] NOT NULL,
	[Disc_Price] [money] NOT NULL,
	[Reorder_Level] [smallint] NOT NULL,
	[Purchased_Date] [datetime] NOT NULL,
	[Unit] [varchar](50) NOT NULL,
	[Avarage_Cost] [money] NOT NULL,
	[Reorder_Qty] [float] NOT NULL,
	[Last_Purch_Qty] [float] NOT NULL,
	[Current_Qty] [float] NOT NULL,
	[Rack_No] [varchar](50) NOT NULL,
	[Pack_Size] [smallint] NOT NULL,
	[Discontinued] [bit] NULL,
	[Created_User] [varchar](50) NULL,
	[Modified_User] [varchar](50) NULL,
	[Created_Date] [datetime] NULL,
	[Modified_Date] [datetime] NULL,
	[LockedItem] [varchar](50) NOT NULL,
	[TransLock] [varchar](50) NOT NULL,
	[Short_Description] [varchar](50) NOT NULL,
	[Whole_Price] [money] NOT NULL,
	[Disc_Str] [varchar](50) NULL,
	[Cost_Code] [varchar](50) NULL,
	[Margine] [varchar](50) NOT NULL,
	[Prod_Image] [image] NULL,
	[Brand_Code] [varchar](50) NOT NULL,
	[Count_False] [varchar](50) NOT NULL,
	[Last_Pur_Price] [money] NOT NULL,
	[Marked_Price] [money] NULL,
	[Pattern] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[aviMargin] [varchar](50) NULL,
	[OLDDEPT] [varchar](50) NULL,
	[OLDCAT] [varchar](50) NULL,
	[OLDSUB] [varchar](50) NULL,
	[OLDCODE] [varchar](50) NULL,
	[Tha] [char](10) NULL,
	[DisAllow] [varchar](50) NOT NULL,
	[SubCatDiscAllow] [varchar](50) NOT NULL,
	[LockReason] [varchar](100) NOT NULL,
	[Reorder] [varchar](50) NOT NULL,
	[TD] [varchar](50) NOT NULL,
	[SM] [varchar](50) NOT NULL,
	[PS] [varchar](50) NOT NULL,
	[GroupCode] [varchar](50) NOT NULL,
	[FreeIssue] [varchar](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
