USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[acc_master]    Script Date: 26/07/2019 10:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
