USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[acc_master]    Script Date: 01/04/2019 9:42:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
