USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[msd.BranchTypeDetails]    Script Date: 01/04/2019 9:42:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msd.BranchTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeDetail] [nvarchar](200) NULL
) ON [PRIMARY]
GO
