USE [OnimtaWebInventory]
GO
/****** Object:  Table [acc].[acc_master]    Script Date: 07/03/2019 10:01:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [acc].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
