USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[acc_master]    Script Date: 14/03/2019 11:45:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
