USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[msd.BranchTypeDetails]    Script Date: 14/03/2019 11:45:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msd.BranchTypeDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeDetail] [nvarchar](200) NULL
) ON [PRIMARY]
GO
