USE [OnimtaWebInventory]
GO
/****** Object:  Table [dbo].[acc_master]    Script Date: 16/05/2019 12:00:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_master](
	[id] [int] NULL
) ON [PRIMARY]
GO
