USE [OnimtaWebInventory]
GO
/****** Object:  StoredProcedure [dbo].[msd.UpdateAdvaneSettingDetails]    Script Date: 26/07/2019 10:10:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[msd.UpdateAdvaneSettingDetails]
(
@Id INT,
@SettingTypeId INT,
@IsActive INT,
@CreatedUserId INT
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE [dbo].[msd.AdvanceSetting]
   SET 
       SettingTypeId = @SettingTypeId
      ,IsActive = @IsActive
      ,CreatedUserId = @CreatedUserId
      ,CreatedDateTime = GETDATE()
 WHERE Id = @Id
END
GO
