USE [OnimtaWebInventory]
GO
/****** Object:  StoredProcedure [dbo].[stk.AddSalesOrderItem]    Script Date: 15/07/2019 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stk.AddSalesOrderItem]
	@ItemId INT,
	@ItemName VARCHAR(100),
	@Quantity INT,
	@salesOrderId INT,
	@salesOrderItemId INT,
	@ItemCost DECIMAL,
	@Discount DECIMAL,
	@Tax DECIMAL,
	@TotalCost DECIMAL,
	@UserId SMALLINT,
	@CompanyId SMALLINT

		
AS
BEGIN

    DECLARE @DraftStatus   INT = 0,
	        @LastSalesOrderId INT

		INSERT INTO [stk.SalesOrderItemsDraftDetails]
		(	
		    CompanyId,
		    SaleNo,
			ProductId,
			ProductName,
			Quantity,
			Status,
			ItemCost,
			Discount,
			Tax,
			TotalCost,
			CreatedUserId,
			CreatedDateTime,
			LastModifiedDateTime
		) 
		values ( 
		    @CompanyId,
		    @salesOrderId,
			@ItemId ,
			@ItemName,
			@Quantity ,
			@DraftStatus,
			@ItemCost ,
			@Discount ,
			@Tax ,
			@TotalCost,
			@UserId ,
			GETDATE(),
			GETDATE()		  
		)

		SELECT @LastSalesOrderId= SCOPE_IDENTITY() 

		SELECT SaleNo , ProductId AS salesOrderItemId
		FROM [stk.SalesOrderItemsDraftDetails]
		WHERE Id=@LastSalesOrderId
		
 
END
GO
