USE [OnimtaWebInventory]
GO
/****** Object:  StoredProcedure [dbo].[stk.AddTransactionTypes]    Script Date: 15/07/2019 12:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[stk.AddTransactionTypes]
	@Id CHAR(10),
	@TransactionTypeId INT,
	@TransactionName VARCHAR(20),
	@CreatedUserId SMALLINT,
	@CreatedDateTime DATETIME	
AS
BEGIN
		INSERT INTO stk.TransactionTypes
		(
			Id,
			TransactionTypeId,
			TransactionName,
			CreatedUserId,
			CreatedDateTime
	
		) 
		values 
		( 
			@Id ,
			@TransactionTypeId,
			@TransactionName ,
			@CreatedUserId ,
			@CreatedDateTime 	 	  
		)
END
GO
